@import url(css/style.css);

// ========================================================================================
.page__catalogue-menu {
  padding-top: 50px;
  padding-bottom: 100px;
}
.catalogue-menu-title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}