@import url(css/style.css);

.page-back__container {
  padding-bottom: 50px;
}
.delivery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delivery-block-main,
.payment-block {
  margin: 50px 0;
  background: url(../img/delivery/02.png) no-repeat left/cover;
}
.delivery-block {
  position: relative;
}
.delivery-block-main p,
.payment-block p {
  font-size: 18px;
  padding: 15px 50px;
  line-height: 130%;
  max-width: 800px;
  border-right: 3px solid #ffa95c;
  text-align: center;
}
.box-pic {
  position: absolute;
  top: 50%;
  right: -600px;
  transform: translate(-50%, -50%);
  z-index: -1;
  max-width: 400px;
}
.delivery-types-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #ffa95c;
  border-bottom: 1px solid #ffa95c;
  max-width: 1200px;
  padding: 52px 73px;
}
.delivery h3 {
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.delivery-types-block img {
  max-width: 55%;
}

@media (max-width: 1500px) {
  .delivery-block img:first-child {
    max-width: 1000px;
  }
  .delivery h3 {
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 60px;
  }
  .delivery-types-block {
    padding: 40px 60px;
    max-width: 1000px;
  }
  .box-pic {
    top: -35px;
    right: -200px;
    max-width: 300px;
  }
}
@media (max-width: 1320px) {
  .page-back__container {
    padding-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .delivery h3 {
    font-size: 25px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 700px) {
  .delivery-block-main p,
  .payment-block p {
    font-size: 15px;
  }
  .delivery-types-block {
    padding: 20px 40px;
    max-width: 800px;
  }
  .delivery-types-block img {
    max-width: 45%;
  }
  .box-pic {
    top: -10px;
    right: -100px;
    max-width: 200px;
  }
}
@media (max-width: 500px) {
  .box-pic {
    top: 7px;
    right: -80px;
    max-width: 150px;
  }
  .delivery h3 {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .delivery-block-main p,
  .payment-block p {
    font-size: 14px;
    padding: 10px 30px;
  }
  .delivery-types-block img {
    max-width: 35%;
  }
}
@media (max-width: 360px) {
  .box-pic {
    top: 22px;
    right: -50px;
    max-width: 100px;
  }
  .delivery-block-main p,
  .payment-block p {
    font-size: 12px;
    padding: 10px 30px;
  }
}

.page__payment {
  padding-top: 80px;
  padding-bottom: 192px;
}
.payment__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.payment__container img:last-child {
  margin-top: 74px;
  max-width: 900px;
}

@media (max-width: 1500px) {
  .payment__container img:last-child {
    max-width: 600px;
  }
  .page__payment {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .payment__container img:last-child {
    margin-top: 50px;
  }
}
@media (max-width: 900px) {
  .page__payment {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 500px) {
  .page__payment {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
