@import url(css/style.css);
body {
  position: relative;
}

.empty-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.empty-order h2 {
  font-size: 25px;
  padding: 50px;
  margin: 100px 0 120px 0;
  border-radius: 20px;
  background-color: lightblue;
  border: 7px double white;
  max-width: 500px;
}

.h1-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-top: 50px;
}
.h1-block img {
  display: block;
  max-width: 35px;
}
.h1-block h1 {
  position: relative;
  padding-bottom: 0;
}

.under-h1-text {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}

.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.order-main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}

.info-user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.nova-poshta {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.info-user-block input,
.nova-poshta select {
  border: 2px solid grey;
  max-width: 300px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.info-user-block input:focus,
.nova-poshta select:focus {
  border-color: var(--dark-blue-color);
}

.delivery-check,
.pay-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding-top: 10px;
}
.delivery-check p,
.pay-block p {
  font-size: 13px;
  opacity: 0.8;
}

.agree-block {
  margin: 20px 0 30px 0;
}
.agree-block-input {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.order-button {
  text-transform: uppercase;
  max-width: 300px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--light-blue-color);
  color: white;
  margin-bottom: 50px;
  font-weight: 800;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.order-button:hover {
  background-color: var(--dark-blue-color);
}

.order-title {
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--secondary-color);
  max-width: 115px;
  margin: 20px 0;
}

.order-title_1 {
  max-width: 90px;
}

.order-title_2 {
  max-width: 220px;
}

#chooseCityDelivery {
  margin-top: 20px;
}

.total-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--dark-blue-color);
  padding: 15px 20px;
  color: white;
  font-size: 20px;
  border: 8px double white;
  text-align: center;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  -webkit-box-shadow: 0px 0px 5px 0px var(--primary-color);
          box-shadow: 0px 0px 5px 0px var(--primary-color);
}

.number {
  font-size: 22px;
  font-weight: 700;
}

.need-to-agree-block {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 3;
  border: 1px solid #999;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px 30px 30px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 1px grey;
          box-shadow: 0px 0px 10px 1px grey;
  display: none;
}

.need-to-agree-block img {
  max-width: 30px;
}

.need-to-agree-block p {
  color: #333;
}

#closeNeedAgreeBlock {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 22px;
  background-color: var(--red-color);
  padding: 1px 5px;
  border-radius: 50%;
  color: rgb(235, 235, 235);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

#closeNeedAgreeBlock:hover {
  background-color: var(--light-blue-color);
}

#noNeedToPhoneLabel {
  max-width: 320px;
  line-height: 130%;
}

.popUpImage {
  max-width: 170px;
}

.order-block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding-top: 20px;
  border: 5px double #b2b2b2;
  padding: 20px 40px;
  margin: 30px 0;
}

.order-block-info-right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.quantity-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.quantity-block span {
  text-align: center;
  background-color: lightgray;
  padding: 9px 12px;
  border-radius: 50%;
  cursor: pointer;
  color: #000;
}

.quantity-block span:nth-child(3) {
  padding: 9px 15px;
}

#orderSize {
  text-transform: uppercase;
}

.error {
  color: #ff0000;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ff0000;
  border-radius: 10px;
  max-width: 170px;
  display: none;
}

.trash {
  display: block;
  max-width: 20px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .empty-order h2 {
    font-size: 20px;
    padding: 40px 50px;
  }
  .total-block {
    font-size: 18px;
  }
  .number {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .popUpImage {
    max-width: 100px;
  }
  .order-block-info {
    padding-top: 20px;
    padding: 15px 35px;
    margin: 25px 0;
  }
  .order-block-info-right-part {
    row-gap: 15px;
    font-size: 15px;
  }
  .total-block {
    font-size: 16px;
  }
  .number {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .order-main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order-info-block-left-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .order-button {
    margin-bottom: 20px;
  }
  h1 {
    font-size: 30px;
  }
  .under-h1-text {
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .total-block {
    font-size: 14px;
  }
  .number {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .empty-order h2 {
    font-size: 16px;
    padding: 30px 40px;
  }
}
@media (max-width: 475px) {
  .agree-block {
    margin: 10px 0 20px 0;
  }
  .order-block-info {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    padding-top: 20px;
    padding: 15px 25px 15px 15px;
  }
  .quantity-block {
    font-size: 14px;
  }
  .trash {
    max-width: 15px;
  }
  .quantity-block span {
    padding: 5px 8px;
    font-size: 10px;
  }
  .quantity-block span:nth-child(3) {
    padding: 5px 10px;
    font-size: 10px;
  }
  .total-block {
    font-size: 12px;
  }
  .number {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 25px;
  }
  .under-h1-text {
    font-size: 12px;
  }
  .delivery-check p,
.pay-block p {
    font-size: 11px;
    opacity: 0.8;
  }
  .popUpImage {
    max-width: 70px;
  }
  .order-block-info-right-part,
.quantity-block {
    font-size: 12px;
  }
  .order-block-info {
    padding: 10px 20px 10px 10px;
  }
}