@import url(css/style.css);

body {
  position: relative;
}

// ========================================================================================
.empty-order h2 {
  font-size: 25px;
  padding: 50px;
  margin: 100px 0 120px 0;
  border-radius: 20px;
  background-color: lightblue;
  border: 7px double white;
}
.h1-block {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding-top: 50px;
  img {
    display: block;
    max-width: 35px;
  }
  h1 {
    position: relative;
    padding-bottom: 0;
  }
}
.under-h1-text {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}
.order__container {
  display: flex;
  flex-direction: column;
}
.order-info-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.order-main-block {
  display: flex;
  justify-content: center;
  column-gap: 100px;
}
.info-user-block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.info-user-block input,
#chooseCityDelivery {
  border: 2px solid grey;
  max-width: 300px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}
.info-user-block input:focus,
#chooseCityDelivery:focus {
  border-color: var(--dark-blue-color);
}
.order-delivery-block {
  padding-bottom: 20px;
}
.delivery-check,
.pay-block {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-top: 10px;
  p {
    font-size: 13px;
    opacity: 0.8;
  }
}
.agree-block {
  margin: 20px 0 30px 0;
  &-input {
    margin: 10px 0;
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
}
.order-button {
  text-transform: uppercase;
  max-width: 300px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--light-blue-color);
  color: white;
  margin-bottom: 50px;
  font-weight: 800;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease 0s;
}
.order-button:hover {
  background-color: var(--dark-blue-color);
}
.order-title {
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--secondary-color);
  max-width: 115px;
  margin: 20px 0;
}
.order-title_1 {
  max-width: 90px;
}
.order-title_2 {
  max-width: 220px;
}
#chooseCityDelivery {
  margin-top: 20px;
}
.total-sum-block {
  background-color: var(--dark-blue-color);
  padding: 15px 20px;
  color: white;
  font-size: 20px;
  border: 8px double white;
  text-align: center;
  column-gap: 20px;
  box-shadow: 0px 0px 5px 0px var(--primary-color);
  span {
    font-size: 22px;
    font-weight: 700;
  }
}

.need-to-agree-block {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 3;
  border: 1px solid #999;
  color: #333;
  display: flex;
  align-items: center;
  padding: 30px 40px 30px 30px;
  column-gap: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px grey;
  display: none;
}
.need-to-agree-block img {
  max-width: 30px;
}
.need-to-agree-block p {
  color: #333;
}
#closeNeedAgreeBlock {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 22px;
  background-color: var(--red-color);
  padding: 1px 5px;
  border-radius: 50%;
  color: rgb(235, 235, 235);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
#closeNeedAgreeBlock:hover {
  background-color: var(--light-blue-color);
}

.order-info-block-right-part {
}
.popUpImage {
  max-width: 170px;
}
.order-title {
}
.order-title_2 {
}
.order-block-info {
  display: flex;
  align-items: center;
  column-gap: 30px;
  padding-top: 20px;
  border: 5px double #b2b2b2;
  padding: 20px 40px;
  margin: 30px 0;
}
.order-block-info-left-part {
}
.order-block-info-right-part {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.quantity-block {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.quantity-block span {
  text-align: center;
  background-color: lightgray;
  padding: 9px 12px;
  border-radius: 50%;
  cursor: pointer;
  color: #000;
}
.quantity-block span:nth-child(3) {
  padding: 9px 15px;
}
#orderSize {
  text-transform: uppercase;
}
.error {
  color: #ff0000;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ff0000;
  border-radius: 10px;
  max-width: 170px;
  display: none;
}
.trash {
  display: block;
  max-width: 20px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .empty-order h2 {
    font-size: 20px;
    padding: 40px 50px;
  }
}
@media (max-width: 1000px) {
  .popUpImage {
    max-width: 100px;
  }
  .order-block-info {
    padding-top: 20px;
    padding: 15px 35px;
    margin: 25px 0;
  }
  .order-block-info-right-part {
    row-gap: 15px;
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .order-main-block {
    flex-direction: column;
  }
  .order-info-block-left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .order-button {
    margin-bottom: 20px;
  }
  h1 {
    font-size: 30px;
  }
  .under-h1-text {
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .empty-order h2 {
    font-size: 16px;
    padding: 30px 40px;
  }
}
@media (max-width: 475px) {
  .agree-block {
    margin: 10px 0 20px 0;
  }
  .order-block-info {
    column-gap: 10px;
    padding-top: 20px;
    padding: 15px 25px 15px 15px;
  }
  .quantity-block {
    font-size: 14px;
  }
  .trash {
    max-width: 15px;
  }
  .quantity-block span {
    padding: 5px 8px;
    font-size: 10px;
  }
  .quantity-block span:nth-child(3) {
    padding: 5px 10px;
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 25px;
  }
  .under-h1-text {
    font-size: 12px;
  }
  .delivery-check,
  .pay-block {
    p {
      font-size: 11px;
      opacity: 0.8;
    }
  }
  .popUpImage {
    max-width: 70px;
  }
  .order-block-info-right-part,
  .quantity-block {
    font-size: 12px;
  }
  .order-block-info {
    padding: 10px 20px 10px 10px;
  }
}
