.wrapper {
  min-height: 0;
}

.thank-you-container {
  border: 18px double white;
  background-color: var(--light-blue-color);
  max-width: 1000px;
  padding: 50px;
  width: 100%;
  color: white;
  font-size: 40px;
  margin: 175px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

@media (max-width: 1250px) {
  .thank-you-container {
    max-width: 700px;
    padding: 30px;
    font-size: 30px;
    margin: 125px auto;
  }
}
@media (max-width: 950px) {
  .thank-you-container {
    max-width: 450px;
    padding: 20px;
    font-size: 20px;
    border: 8px double rgb(240, 240, 240);
    margin: 75px auto;
  }
}
@media (max-width: 650px) {
  .thank-you-container {
    max-width: 400px;
    font-size: 20px;
    border: 6px double rgb(240, 240, 240);
  }
}
@media (max-width: 450px) {
  .thank-you-container {
    padding: 20px;
    max-width: 300px;
    font-size: 16px;
  }
}