@import url(css/style.css);
.page-title {
  font-size: 22px;
}

.page__user-profile {
  color: rgb(250, 250, 250);
}

.user-title-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.user-profile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-profile-info-block {
  margin: 50px 0 200px 0;
  background-color: var(--light-blue-color);
  padding: 20px 30px 30px 30px;
  border-radius: 20px;
  border: 8px double var(--dark-blue-color);
  -webkit-box-shadow: 0px 0px 20px 0px white;
          box-shadow: 0px 0px 20px 0px white;
  -webkit-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  opacity: 0;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.user-profile-info-block.active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

#profileForm {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px 10px;
}

.input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  font-size: 18px;
}

.input-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.input-block input {
  border: 3px solid var(--light-blue-color);
  border-radius: 10px;
  padding: 5px 0px 5px 10px;
  max-width: 311px;
  width: 100%;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 30px 1px rgba(221, 221, 221, 0.5);
          box-shadow: 0px 0px 30px 1px rgba(221, 221, 221, 0.5);
  outline: none;
}

#profileForm input:focus {
  border: 3px solid var(--dark-blue-color);
}

#profileForm input::-webkit-file-upload-button {
  background-color: var(--light-blue-color);
  color: white;
  border-radius: 3px;
  border: 0;
  font-size: 12px;
  padding: 2px;
  margin-right: 10px;
}

#myImg {
  padding: 5px 70px 5px 10px;
  background-color: #fff;
  color: grey;
  font-size: 12px;
}

.user-title-image h3 {
  font-size: 22px;
  font-weight: 800;
}

.profile-form-image1 {
  position: absolute;
  max-width: 600px;
  border-radius: 10%;
  left: 20px;
  top: 600px;
  z-index: -1;
  border: 3px solid rgba(208, 208, 208, 0.086);
  -webkit-box-shadow: 0px 0px 20px 0px rgb(196, 196, 196);
          box-shadow: 0px 0px 20px 0px rgb(196, 196, 196);
}

.profile-form-image2 {
  position: absolute;
  width: 550px;
  height: 700px;
  border-radius: 10%;
  right: 50px;
  top: 200px;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-filter: FlipV;
          filter: FlipV;
  -ms-filter: "FlipV";
  border: 3px solid rgba(208, 208, 208, 0.086);
  -webkit-box-shadow: 0px 0px 20px 0px rgb(196, 196, 196);
          box-shadow: 0px 0px 20px 0px rgb(196, 196, 196);
}

#img1 {
  position: absolute;
  right: 0;
  top: 0px;
  border-radius: 10px;
  max-width: 130px;
  max-height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 20px 0px white;
          box-shadow: 0px 0px 20px 0px white;
}

#profileBtn {
  max-width: 200px;
  margin: 10px auto 0px;
  font-weight: 700;
  font-size: 14px;
  padding: 8px 30px;
}

.error {
  color: #ff0000;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ff0000;
  border-radius: 10px;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  display: none;
}

.exit-button {
  max-width: 150px;
  margin: 10px auto 0px;
  font-weight: 700;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 20px;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.exit-button:hover {
  -webkit-box-shadow: 1px 1px 12px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 12px 3px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1300px) {
  .profile-form-image2 {
    width: 450px;
    height: 550px;
  }
}
@media (max-width: 1000px) {
  .profile-form-image2 {
    width: 350px;
    height: 450px;
  }
  .profile-form-image1 {
    max-width: 400px;
    left: 20px;
    top: 800px;
  }
}
@media (max-width: 850px) {
  .profile-form-image2,
.profile-form-image1 {
    display: none;
  }
}
@media (max-width: 767.98px) {
  label {
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  .input-block input {
    max-width: 200px;
  }
  label {
    font-size: 14px;
  }
  #profileForm {
    padding-top: 20px;
    gap: 10px 10px;
  }
  #profileBtn,
.exit-button {
    font-size: 11px;
    margin: 10px auto 5px;
  }
  .user-title-image {
    padding-bottom: 20px;
  }
  #img1 {
    max-height: 75px;
  }
}
@media (max-width: 390px) {
  .user-title-image h3 {
    font-size: 16px;
  }
  .user-profile-info-block {
    padding: 20px 20px 30px 20px;
  }
  .input-block input {
    max-width: 160px;
    font-size: 12px;
  }
  #profileForm {
    padding-top: 20px;
    gap: 10px 10px;
  }
  #profileBtn {
    font-size: 11px;
    margin: 15px auto 10px;
  }
  .user-title-image {
    padding-bottom: 20px;
  }
  .input-label {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
  .error {
    font-size: 12px;
  }
  #img1 {
    max-height: 70px;
  }
}